
/* .card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
} */

body {
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
  color: rgba(0, 128, 128, 1);
}

h1{
  font-family: 'Bigelow Rules';
}

h1.card-title{
  font-size: 3rem;
  color: #191825;
}



